body {
  margin: 0;
  font-family: "Adobe Garamond Pro", serif !important;
  background: linear-gradient(135deg, #ffffff, #fbfcfc);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
  text-align: center;
  font-family: "Adobe Garamond Pro", serif !important;
}
.btn-outline-primary {
  background-color: #063263;
  color: #000000;
  outline: none;
}
header {
  background-color: #e2e2e2;
  padding: 0.5rem;
}
header img {
  max-height: 80px;
  max-width: 200px;
  object-fit: contain;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed: space-around, space-between, center, etc. */
  align-items: flex-start; /* Align items to the start of the cross axis */
  width: 100%;
}
.rating span {
  color: rgb(255, 215, 0);
}
.product {
  flex: 0 0 calc(30% - 1rem); /* Adjust the width as needed and consider margin */
  box-sizing: border-box;
  border: 1px #eceaea solid;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  place-items: center;
}

.product img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Media query for smaller screens, e.g., mobile devices */
@media (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product img {
    width: 100%;
    max-width: 100%;
  }
}
.product-item {
  font-weight: 600;
  margin: 10px 0px;
  font-family: "Adobe Garamond Pro", serif !important;
}
.product-item a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  font-family: "Adobe Garamond Pro", serif !important;
}
/* Add some spacing around the button */
.button {
  padding: 12px;
  margin-top: 10px;
  background-color: #66c859; /* Button background color */
  color: #fff; /* Button text color */
  border: 1px solid #66c859; /* Button border color */
  border-radius: 9px; /* Optional: Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  font-weight: bold;
  font-family: "Iowan Old Style", serif !important;
  font-size: 1rem;
  width: 140px;
}

/* Change button color on hover */
.button:hover {
  background-color: #175b6e;
}

/* Optional: Style for better accessibility */
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Add a subtle outline on focus */
}
footer {
  margin: 1rem;
  padding: 1rem;
}
footer .copy {
  color: #063263;
  font-size: 1.2rem;
  font-weight: 900;
}
footer .year {
  color: green;
  font-size: 1.2rem;
  font-weight: 900;
  padding-left: 10px;
}
footer .word {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "Iowan Old Style", serif !important;
  color: #063263;
  text-transform: capitalize;
}
.img-large {
  max-width: 100%;
  object-fit: cover;
}
.img-thumbnail {
  height: 80px;
  object-fit: cover;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #063263;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
  font-family: "Adobe Garamond Pro", serif !important;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.btn1 {
  font-size: 20px;
  background-color: #66c859 !important;
  text-align: left;
}
.text-bold {
  font-weight: bold;
}
/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
.bfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 5px;
  text-align: center;
}

.bfooter p {
  margin: 1rem 5px;
  font-size: 1.2rem;
  font-family: "Adobe Garamond Pro", serif !important;
  color: #000;
}

/* Style the anchor tags within .bfooter */
.bfooter a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 600;
  padding-left: 5px;
  font-family: "Iowan Old Style", serif !important;
}

/* Hover effect for anchor tags */
.bfooter a:hover {
  color: #063263;
}
.card-title {
  color: #222 !important;
  font-family: "Libre Garamond", serif !important;
  margin: 10px 0 !important;
  transition: color 0.3s;
}

.move-h1 {
  width: 99%;
  color: #04fa04;
  padding: 20px;
  font-weight: bolder;
  font-family: "Iowan Old Style", serif !important;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.move-h1 {
  animation: moveRightToLeft 12s linear infinite;
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
